  h1 {
    
    margin-bottom: 0;
    font-size: 20px;
    margin-top: 0 auto;
 
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Arial, Helvetica, sans-serif
   
  }
  
  
  header {
    border-bottom: 0px;
    background-color: Teal;
    margin: 0;
    padding: 0;
    display: flow-root;
  }

.container {
  width: 0;
  margin: 0;
}

.img  {
  width: 0;
  padding: 0;
}

body {
  margin: 10px;
  padding: 0;
}

* {
    box-sizing: border-box;
  }

  title {
      display: none;
  }

  
html {
    color: -internal-root-color;

}

  body {
    margin: 0;  
    padding: 0;
    background-color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

* {
    box-sizing: border-box;
}

body {
    display: block;
}

:root {
    --charcoal: #393B4F;
    --silver: #A8ADBA;
    --white: #FEFEFF;
    --light-red: rgb(33, 17, 104);
    --dark-red: rgb(45, 8, 87);
  }

html {
    color: -internal-root-color;
}  
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Arial, Helvetica, sans-serif
  }
  
  main {
    width: 960px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--white);
    border: 4px solid var(--charcoal);
  }


  main h2 {
    color: mediumslateblue;
    padding: 0 10px 20px;
    border-bottom: 3px solid var(--charcoal);
  }
  
 
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  

  .flex-item {
    width: 45%;
    border-radius: 14px;
    border: 4px solid var(--light-red);
    background-color: var(--charcoal);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    background-image: url(https://www.placecage.com/g/500/500);
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    min-height: 250px;  
    display: flex;
    flex-direction: column;
  }
  
  
  .flex-item span {
    
    margin-top: auto;
    width: 100%;
    background-color: var(--silver);
    color: var(--charcoal);
    padding: 10px 5px;
    text-align: center;
  }

  .Name {
    display: inline-block;
  }

  .nav {
    display: inline-block;
    float: right;
  }

  .topSection {
    width: 50%;
    margin: auto;
  }

  .profilePic {
    float: left;
  }